:root {
    --main-color: #bec3cf;
}
.text-main {
    color: var(--main-color);
}
body {
    background-image: url('./media/weather.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
* {
    font-family: 'Cabin', sans-serif;
}
h1, h2 {
    font-family: 'Noto Serif', serif;
}
.weather h1, .weather p, .weather h6 {
    color: white !important;
}
.response-weather {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    box-shadow: 2px 2px 10px white;
}
h3  {
    color: yellow;
}
h2 {
    font-weight: bold;
    color: white;
    padding: 0px 0px 0px 10px;
    border-radius: 50px;
}
h4 {
    text-transform: uppercase;
}
.output {
    border-left: 2px solid white;
}
.weather h1 i{
    color: yellow;
}
.btn-weather {
    height: 30px;
    width: 100px;
    border-radius: 20px;
    border: none;
    background-color: yellow;
    color: blue;
    font-weight: bold;
    transition: 0.3s;
}
.btn-weather i  {
    color: blue;
    transition: 0.3s;
}
.btn-weather:hover {
    background-color: blue;
    color: yellow;
}
.btn-weather:hover i {
    color: yellow;
}
.text-yellow {
    color: yellow;
}
.text-blue {
    color: blue;
}
